name: Build iOS IPA (Flutter + Supabase)

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.5"
          channel: stable
          cache: false
      - name: Flutter Clean
        run: flutter clean
      - name: Flutter Pub Get
        run: flutter pub get

      - name: Prepare iOS Pods
        run: |
          cd ios
          pod repo update
          rm -rf Pods Podfile.lock
          pod deintegrate
          pod install

      - name: Flutter Precache iOS
        run: flutter precache --ios

      - name: Pod Install Again
        run: |
          cd ios
          pod repo update
          pod install

      - name: Clean iOS Build
        run: |
          cd ios
          rm -rf build

      - name: Build .app without codesign
        run: flutter build ios --release --no-codesign

      - name: Create Payload folder
        run: mkdir Payload
        working-directory: build/ios/iphoneos

      - name: Move .app to Payload
        run: mv Runner.app Payload
        working-directory: build/ios/iphoneos

      - name: Zip output
        run: zip -qq -r -9 FlutterIpaExport.ipa Payload
        working-directory: build/ios/iphoneos

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/ios/iphoneos/FlutterIpaExport.ipa
          tag: v1.0
          overwrite: true
          body: "This is first release"
